{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevZone | Home</title>
    <link rel="stylesheet" href="{% static 'scss/base/home.css' %}" />
    <!-- <meta http-equiv="refresh" content="1" /> -->
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-2e45578ecf3b28ce6383d10b8c0bf4d0.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.0/css/all.css"
    />
  </head>
  <body>
    {% include 'components/sidebar.html' %}
    <div class="container">{% include 'components/navbar.html' %}</div>
  </body>
</html>
