.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search {
    border: 1px solid #f0f0f0;
    .search-input {
      border: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    .notification {
      .updates {
      }
      .notifi {
      }
    }
    .account {
      .account-image {
        border-radius: 50%;
      }
    }
  }
}
