.navbar {
  .search {
    border: 1px solid #f0f0f0;
    .search-input {
      border: none;
    }
  }
  .notification{
    .updates{
      
    }
    .notifi{

    }
  }
  .account{
    .account-image{
      border-radius: 50%;
    }
  }
}
