@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: calc(100vw - 230px);
  font-family: 'Rubik';
  .search {
    border: 1px solid #f0f0f0;
    .search-input {
      border: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    .notification { 
    display: flex;
    align-items: center;
      .updates {
      }
      .notf {
      }
    }
    .account {
      .account-image {
        border-radius: 50%;
      }
    }
  }
}
