{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'scss/components/navbar.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="search">
        <input
          placeholder="Search here"
          class="search-input"
          class="search-input"
        />
        <i class="fa-regular fa-magnifying-glass"></i>
      </div>
    </div>
  </body>
</html>
