{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'scss/components/navbar.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="search">
        <input placeholder="חפש כאן" class="search-input" />
        <i class="fa-regular fa-magnifying-glass"></i>
      </div>
      <div class="notification">
        <div class="updates">
          <i class="fa-regular fa-bell"></i>
        </div>
        <div class="notifi">
          <i class="fa-regular fa-comment"></i>
        </div>
      </div>
      <div class="account">
          <img class="account-image"/>
      </div>
    </div>
  </body>
</html>
