{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'scss/components/sidebar.css' %}" />
  </head>
  <body>
    <div class="sidebar">
      <div class="top">
        <img src="" alt="" class="logo" />
        <h2 class="title">DevZone</h2>
      </div>
      <div class="menu">
        {% for item in menu %}
        <div class="item {% if item.now %} now {% endif %}">
          <i class="{{ item.icon }}"></i>
          <p class="name">{{ item.name }}</p>
        </div>
        {% endfor %}
        <div class="item logout">
          <i class="fa-regular fa-right-from-bracket"></i>
          <p class="name">יציאה</p>
        </div>
      </div>
    </div>
  </body>
</html>
